WebAPI_Call_Project/adf/pipeline/PL_UserData_WebApi_To_Blob.json
{
	"name": "PL_UserData_WebApi_To_Blob",
	"properties": {
		"activities": [
			{
				"name": "Copy Data From API to BLOB",
				"description": "Copying data from Users WEB API to Users Sink Blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_REST_Users",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Users_Sink_Blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Data From API to BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogApiPipelineRun]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"FilePath": {
							"value": {
								"value": "global/users",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunStatus": {
							"value": {
								"value": "Success",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunTime": {
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(),'US Mountain Standard Time'))",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SourceName": {
							"value": {
								"value": "Users Web API",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetName": {
							"value": {
								"value": "pavandevsinkblob",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Logging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Data From API to BLOB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogApiPipelineRun]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@activity('Copy data from API to Blob').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"FilePath": {
							"value": {
								"value": "global/users",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunStatus": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunTime": {
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(),'US Mountain Standard Time'))",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SourceName": {
							"value": {
								"value": "Users Web API",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetName": {
							"value": {
								"value": "pavandevsinkblob",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Logging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "WebAPICallProject/Ingestion"
		},
		"annotations": []
	}
}