adf/pipeline/pl_KV_Ingestion_License_Data.json
{
	"name": "pl_KV_Ingestion_License_Data",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_kv_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"pAccount": {
							"value": "@pipeline().parameters.pAccount",
							"type": "Expression"
						},
						"pWarehouse": {
							"value": "@pipeline().parameters.pWarehouse",
							"type": "Expression"
						},
						"pDatabase": {
							"value": "@pipeline().parameters.pDatabase",
							"type": "Expression"
						},
						"pUser": {
							"value": "@pipeline().parameters.pUser",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select * from LICENSING_DB.MART.DIM_LICENSE",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"treatDecimalAsString": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Script1').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Script_to_insert_records_SQLDB",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_Sink_SQL_DB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n'INSERT INTO dbo.DIM_LICENSES (LICENSE_ID, PERSON_ID, LICENSE_TYPE, ISSUE_DATE, EXPIRY_DATE, LICENSE_STATUS) VALUES (''',\nitem().LICENSE_ID, ''',''',\nitem().PERSON_ID, ''',''',\nitem().LICENSE_TYPE, ''',''',\nitem().ISSUE_DATE, ''',''',\nitem().EXPIRY_DATE, ''',''',\nitem().LICENSE_STATUS, ''')'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pAccount": {
				"type": "string",
				"defaultValue": "GUFFHNC-GGB13378"
			},
			"pWarehouse": {
				"type": "string",
				"defaultValue": "COMPUTE_WH"
			},
			"pDatabase": {
				"type": "string",
				"defaultValue": "LICENSING_DB"
			},
			"pSchema": {
				"type": "string",
				"defaultValue": "MART"
			},
			"pRole": {
				"type": "string",
				"defaultValue": "ACCOUNTADMIN"
			},
			"pUser": {
				"type": "string",
				"defaultValue": "PAVANUSDE"
			},
			"pPasswordSecretName": {
				"type": "string",
				"defaultValue": "snowflake-dev-password"
			}
		},
		"variables": {
			"p_test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Snowflake_Projects"
		},
		"annotations": [],
		"lastPublishTime": "2026-04-22T18:51:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}